*{
    box-sizing: border-box;
   
}
body{
    font-family: sans-serif;
    color: #333333;
    background-color: #eeeeee;

}
.header-h1{
    text-align: center;
    font-size: 1.5em;
}
.imagen{
    width: 14em;
    height: 14em;
    border-radius: 50%;
   
}
  
.saludo-1{
    font-size: 2.0em;
    text-align: justify;
    margin: 10px;
    padding: 10px;  
}
.saludo--2{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 40px;    
}
.footer{
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 700px){
	body {
		font-size:70%; /*achicamos la fuente en pantallas pequeñas*/ 

    } 
    .header-h1{
        font-size: 10px;
        margin: 0px;
        padding: 0px;
    }
    .imagen{
        width: 15em;
        height: 15em;
    }
    .saludo-1{
        font-size: 14px;
        margin: 15px;
        padding: 0px;
        text-align: justify;
    }

    .saludo--2{
        font-size: 20px;
        padding: 10px;
        margin: 0px;
    }
    .footer{
        font-size: 10px;
        padding: 0;
    }
}

